<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Manifest Millenials</title>
  <link rel="stylesheet" href="css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  <script src="js/jquery.js"></script>
</head>
<body>

<div class="forum nav">
  <h3> Get your ideas out there in the </h3> <br>
  <a href="/posts"> <button class="btn"> Community Forum </button> </a>
</div>

<div class = "news nav">
  <h3> Catch this week's news in the </h3> <br>
  <a href = "/news"> <button class="btn"> Newsroom </button></a>
</div>

<div class = "question intro">

  <h2 class="flow-text"> Question of the Week </h2>
  <p class="flow-text"> Where do you see the course of education heading <br>
                                  in the next 10 years?</p>

  <div class="video-container progress">

    <div class="determinate" style="width: 70%"></div>

   <!--  <video class="responsive-video" controls>
      <source src="https://www.youtube.com/watch?v=iG9CE55wbtY" type="video/mp4">
    </video> -->

  </div>

</div>

<div class = "posts nav">
  <h3>Read what everyone is talking about</h3>
  <a href = "/top-posts"> <button class="btn"> Top Posts </button></a>
</div>

<div class = "tags nav">
  <h3>Check all your posts and news in</h3> <br>
  <a href = "/user/{{#user}}{{id}}{{/user}}"> <button class="btn"> Profile </button></a>
</div>


</body>
</html>
