<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Manifest Millenials</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu|Playfair+Display" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/posts" class="brand-logo bungee">MM</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/posts">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="signup-form" class="col s12 m4 hoverable z-depth-2 hide-on-small">
    <h5 class="center"> Join Now </h5>
    <form method="POST" action="/signup">
      <div class="row">
      <div class="input-field col s12 center">
        <input placeholder="Username" class="validate" name="username">
      </div>
      </div>
      <div class="row">
      <div class="input-field col s12 center">
        <input placeholder="Email" class="validate" name="email">
      </div>
      </div>
      <div class="row">
      <div class="input-field col s12 center">
        <input placeholder="Password" class="validate" name="password">
      </div>
      </div>
      <div class="row">
        <button type="submit" class="col s12 btn black bungee"> Submit </button>
      </div>
    </form>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">

        <h1 class="header center bungee">Manifest Millenials</h1>

        <h5 class="center bungee">Platform for millenials to discover business, technology, and design</h5>

        <div class="row center">
          <a href="https://manifestmillenials.herokuapp.com/logon" id="login" class="btn-large waves-effect waves-light black">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>

    <div class="parallax"><img src="img/geometricbackground-purple.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center bungee">Learn Faster</h5>

            <p class="center">Discuss and debate with thousands of others from different backgrounds on prime topics Design Thinking, Tech Startups, and Stock Investing.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center bungee">User Experience Focused</h5>

            <p class="center">Built by us, for us. We are constantly improving based on your feedback to improve your experience and bring the engaging features we crave.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">new_releases</i></h2>
            <h5 class="center bungee">Industry News</h5>

            <p class="center">We give you extensive news sources for your education. From Bloomberg to Ars-Technica, you have all the sources you need to stay up to date on Manifest Millenials.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 bungee"> Entrepreneurs, designers, aspiring politicians, and more converge here to collaborate and create the future.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/material-background-purple.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="bungee">How It All Started</h4>
          <p class="left-align">I am a social entrepreneur and design strategist who believes our generation needs to come together now instead of too late. I believe in the power of knowledge and networks, and more pointedly, the knowledge <i> of </i> networks. With Manifest Millenials, I do this by providing you with a platform that provides education and connects you to people from around the world aspiring to be the best our generation has to offer. Whatever your passions, now is the time to take them to the next level.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 bungee">An online and offline community built on the basis that we can always achieve more, as people and society, join the manifestation of excellence. </h5>
        </div>
        <div class="row center">
          <a href="https://manifestmillenials.herokuapp.com/logon" id="login" class="btn-large waves-effect waves-light black">Manifest Me</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/cubism-background-purple.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">I am a social entrepreneur and design strategist who believes our generation needs to come together now instead of too late. This is a personal project on top of my full-time work, any amount of help to support and continue development on this project is greatly appreciated.</p>


        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
       <!--  <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/malik-wormsby">Malik Wormsby</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://www.linkedin.com/in/malik-wormsby" target="_blank">Malik Wormsby</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
