<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Manifest Millenials</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="css/logon.css">
</head>
<body>

<div class="container row">


  <form method="POST" action="/logon">
    <div id="logon">

     <div class="row">
     <div class="col s6 offset-s3 input-field">
           <input placeholder="Email" class="validate" id="email" name="email">
           <!-- <label for="email"> Email </label> -->
     </div>
     </div>

     <div class="row">
     <div class="col s6 offset-s3 input-field">
        <input placeholder="Password" class="validate" id="password" name="password">
        <!-- <label for="password"> Password </label> -->
     </div>
     </div>

    </div>


    <div class="row">
        <!-- <div class=" col s2 offset-s7"> -->
        <div class="u-full-width center-align">
          <button class="btn-large white purple-text center-align" type="submit"> Log-On </button>
        </div>
    </div>
  </form>

  <div id="signup">

    <div class="row">
      <div class="u-full-width center-align ">
          <button class="btn-large white purple-text">
          Create Account
          </button>
        </div>
     </div>

   <form method="POST" action="/signup" >


      <div class="row">
      <div class="input-field col s6 offset-s3">
           <input placeholder="Username" class="validate" id="username" name="username">
      </div>
      </div>

      <div class="row">
      <div class="input-field col s6 offset-s3 ">
          <input placeholder="Password" class="validate" id="password" name="password">
      </div>
      </div>

     <div class="row">
      <div class="input-field col s6 offset-s3 ">
          <input placeholder="Email" class="validate" id="email" name="email">
      </div>
      </div>

      <div class="row">
      <div class="input-field col s6 offset-s3 ">
          <input placeholder="Age" class="validate" id="age" name="age">
      </div>
      </div>

      <div class="row">
      <div class="input-field col s6 offset-s3 ">
          <input placeholder="University" class="validate" id="school" name="school">
      </div>
      </div>



      <div class="row">
      <div class="center u-full-width">
          <a href="/signup">
            <button class="btn-large white purple-text" type="submit"> Join Now </button>
          </a>
      </div>
      </div>

  </form>
</div>


</div>



<script src="js/jquery.js"></script>
<script src="/js/logon.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
