<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>COMMUNITY BOARD</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Bungee+Shade" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="css/news.css">
</head>
<body>

<div class="row purple lighten-2" id="header">

<header class="row">
  <div class="nav col s9   m2">
    <a href="/posts" class="row"> <button class="btn col s12 m12 black"> Home </button> </a>
    <a href="/top-posts" class="row"> <button class="btn col s12 m12 black"> Top Posts </button> </a>
  </div>
  <div id="question" class="center-align col s9 m6 valign-wrapper">
    <h2 class="flow-text"> Where do you see the course of education heading in the next ten years?</h2>
  </div>

  <a class='dropdown-button btn col s4 m3 black' data-activates='dropdown'>Search</a>

  <ul id='dropdown' class='dropdown-content col s6 m4'>
    <ul id="business">
      <h3> Business </h3>
      <li class="divider"> </li>
      <li id="bloomberg"> Bloomberg </li>
      <li id ="wall-street"> Wall Street Journal</li>
      <li id="the-economist"> The Economist </li>
      <li id="NYT-biz"> New York Times</li>
      <li id="fortune"> Fortune </li>
      <li id="business-insider"> Business Insider </li>
    </ul>

    <ul id="tech">
       <h3> Tech </h3>
      <li class="divider"> </li>
      <li id ="ars-technica"> Ars Technica</li>
      <li id ="hacker-news"> Hacker News</li>
      <li id ="recode"> Recode </li>
      <li id="hacker-news">Hacker News </li>
      <li id="NYT-tech"> New York Times</li>
      <li id="techcrunch">Techcrunch </li>
      <li id="ars-technica"> Ars Technica</li>
      <li id="engadget"> Engadget</li>
    </ul>
  </ul>

</header>



<script src="js/jquery.js"></script>
<script src="js/news.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
