<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SCHMINII</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee|Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="css/forum_style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<header class="row">
  <div class="nav col s6 m3">
    <a href="/news" class="row"> <button class="btn col s12 m12 "> Newsroom </button> </a>
    <a href="/top-posts" class="row"> <button class="btn col s12 m12 "> Top Posts </button> </a>
  </div>
  <div id="question" class="center-align col s6 m6">
    <h4> Where do you see the course of education heading in the next ten years?</h4>
  </div>
</header>


<div class="row">
  <div class = "posting_block col s3 offset-s9 z-depth-3 hoverable">

  <a href="/logon" class="">
    <button id="logon" class="btn center"> Log on </button>
  </a>

  <div class="row">
  <div class="prompt col s12">
    <p>Spread your ideas, young padawon.<br>
        Let the free world hear your voice and rejoice.
    </p>
  </div>
  </div>
  {{#user}}
    <form class="col s12" method="POST" action="/posts">

     <div class="row">
     <div class=" input_field col s12">
       <input class="validate" id="subject" name="subject">
       <input class="hide" value={{username}} name="username">
       <label for="subject"> Subject </label>
     </div>
     </div>

     <div class="row">
     <div class="body input_field col s12">
       <textarea id="body" class="materialize-textarea" name="body"></textarea>
       <label for="body"> Post </label>
     </div>
     </div>

     <button class="btn-floating col s6 offset-s3" type="submit"> post </button>

    </form>
  {{/user}}
  </div>
</div> <!-- ends side column -->


<div class="row">
{{#forum}}
  <div class="post_container col s7 offset-s3">


      <div class="row">
      <div class="col s6">

        <a href="/posts/{{id}}">
          <h4 class="flow-text subject"> {{subject}} </h4>
        </a>

        <p id="ups" class="flow-text">
          <a href="/posts/{{id}}"> {{ups}} </a>
          <a href="/user/{{username}}"> BY {{username}} </a>
        </p>
        <form method="POST" action="/reaction/{{id}}"><!--
          <input class="reaction" value="HAPPY 😀" name="happy"> -->
          <input name="happy" value=" HAPPY 😀">
          <input type="checkbox" name="sad" value=" HAPPY 😀">
          <input type="checkbox" name="funny" value=" HAPPY 😀">
          <input type="checkbox" name="bleh" value="AEFAEGWSWBSBSWB HAPPY 😀">

<!--      <input class="reaction" value="INSPIRING 😀" name="inspiring">
          <input class="reaction" value="FUNNY 😂" name="funny">
          <input class="reaction" value="SAD 😭" name="sad">
          <input class="reaction" value="FEAR 😱" name="fear">
          <input class="reaction" value="THOUGHTFUL 🤓" name="thoughtful"> -->
          <button type="submit"> REACT</button>

        </form>
      </div>
      </div>

      <!-- <div class="collapsible-body"> -->
        <div class="row">
          <p> {{body}} </p>
        </div>

        <div class ="row">
        <p> {{comment}} </p>
        </div>

        <div class="row1">
        <div class="commentary col s6 input-field">
            <form method="POST" action="/comment/{{id}}">
               <input name="comment">
               <button type="submit"> Comment </button>
            </form>
        </div>
        </div>
  </div>
         {{/forum}}

  </div>


<script src="js/jquery.js"></script>
<script src="js/posts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
