<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>


  <div class = "post_container">


  {{#forum}}
    <a href="/forum/{{posts.id}}">
     <h4> {{subject}} </h4>
    </a>

    <div class = "post_info">
      <h5> by <a href="/profile/{{users.id}}">
      {{user_name}} </a> </h5>
    </div>

    <p> {{body}} </p>
  <div class="commentary">
      <form method="POST" action="/forum/top?_method=UPDATE">
         <input name="comment">
         <button type="submit"> Comment </button>
      </form>
  </div>
  {{/forum}}

  </div>


</body>
</html>
