*{
  font-family: 'Ubuntu' , cursive;
}

button.btn, .subject, h4{
  font-family: 'Playfair Display', cursive;
  font-weight: 600;
}

body{
  background: url('/img/geometricbackground-purple.jpg');
}

.row{
  margin: 0px auto;
}

header{
  float: left;
  height: 30%;
  margin: 0px auto;
  background-color: #AB47BC;
}

.nav{
  background-color: #8E24AA;
}

.nav button:first-child{
  margin-top: 15px;
}

.nav button{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}

.posting_block{
  position: fixed;
  background-color: white;
  box-shadow: 25px gray;
  height: 100%;
  z-index: 100;
}


.post_container{
  height: 30%;
  margin-bottom: 10px;
  background-color: white;
}

.subject{
  float: left;
}
#ups a{
  font: 10px;
}
.commentary{
  margin-bottom: 20px;
  padding: 20px auto;
}

