*{
  font-family:'Bungee', 'Titillium Web' , cursive;
}
body{
  background-color: rgb(190,80,200);
}
div.row#header{
  float:left;
  height: 10%;
  width: 100%;
}

div.row#header div.nav{
  width: 38%;
  height: 67%;
  border-radius: 50%;
  top: -25%;
  left: -15%;
  position: absolute;
  background-color: purple;
  margin: 50px 0px 50px;
  padding: 50px auto;
  text-align: center;
}

div.nav a button{
  position: relative;
  background: white;
  border: none;
  top: 200px;
  left: 100px;
  color: black;
  display: block;
  border-radius: 7px;
  margin: 40px auto;
  height: 30px;
  font-size: 110%;

}
div.nav p{
  text-align: center;
  display: inline-block;
}

div.row div.question{
  font-size: 20px;
  text-align: left;
}

div.row div.posting_block{
  position: fixed;
  float: right;
  background-color: white;
  box-shadow: 25px gray;
  height: 100%;
  z-index: 100;
}
div.row div div.row div.prompt p{
  font-size: 22px;
}

div.row div.posting_block div.body.input_field textarea{
  height: 35%;
}

div.row button.btn-floating{
  text-align: fill;
  margin: 20px 10px 30px 10px;
}

div.row div.post_container{
  background-color: white;
}
