*{
  font-family: 'Titillium Web' , cursive;
  font-weight: 600;
}
.nav button, .subject, h4{
  font-family: 'Bungee', cursive;
}

body{
  background-color: #AB47BC;
}

header{
  width: 100%;
  float: left;
  height: 200px;
  margin: 0px auto;
}
.row{
  margin: 0px auto;
}

.nav{
  background-color: #8E24AA;
  height: 100%;
}
.nav button:first-child{
  margin-top: 15px;
}
.nav button{
  background-color: black;
  display: flex;
 justify-content: space-around;
  margin: 10px auto;
}


.posting_block{
  position: fixed;
  float: right;
  background-color: white;
  box-shadow: 25px gray;
  height: 100%;
  z-index: 100;
}


.posting_block textarea{
  height: 35%;
}

.btn-floating{
  text-align: fill;
  margin: 20px 10px 30px 10px;
}

.post_container{
  background-color: white;
}
