body{
  background-image: url("../img/login-background.jpeg");
}
*{
  font-family: 'Bungee', cursive;
}

.container {
  height: 100%;
  background-color: rgba(0,0,0, 0.7);
}

#logon{
  position: relative;
  margin-top: 15%;
}
input{
  color: white;
}
#signup{
  margin-top: 20%;
}

a{
  text-decoration: none;
  font: white;
}
