*{
  font-family:'Bungee', cursive;
}
body {
  background-color: purple;
 }
div.row#header{
  float:left;
  height: 10%;
  width: 100%;
}

div.row#header nav{
  width: 35%;
  height: 65%;
  border-radius: 50%;
  top: -25%;
  left: -15%;
  position: absolute;
  background-color: purple;
  margin: 50px 0px 50px 20px;
  padding: 50px auto;
  text-align: center;
}

nav a button{
  font-family: "Bungee", cursive;
  position: relative;
  background: none;
  border: none;
  top: 250px;
  left: 17%;
  color: black;
  display: block;
  border-radius: 7px;
  margin: 20px auto;
}



div.nav p{
  text-align: center;
  display: inline-block;
}

div.row div.question{
  font-size: 20px;
  text-overflow: hidden;
  text-align: left;
}



div.source div.article{
  margin: 50px 20px 15px 50px;
}


div.source{
  text-align: center;
}

div.source div.article p{
  text-align: left;
  padding: 20px;
  margin: 10px auto;
}

div.source div.article button{
    height: 60px;
    width: 240px;
    font-size: 24px;

}

@keyframes slideOut{
  0%{height: 0px;
     opacity: 0.4;
   }
  100%{height: 250px;
        opacity: 1;
      }
}

div.nav#dropdown-menu{
  display: inline-block;
}

div.hide{
  animation: slideOut 0.5s;
}

div#drop-list{
  position: absolute;
  left: 75%;
  top: 10%;
  background: rgba(255,255,255,0.8);
}

div#drop-list ul li{
  margin: 5px auto;
}

div#drop-list ul li:hover{
    font-size: 20px;
    cursor: pointer;
}


button#search{
  margin-top: 60px;
  margin-left: -100px;
}










