*{
  font-family:'Ubuntu', cursive;
}

.btn, h2, .title{
  font-family: 'Playfair Display', cursive;
  font-weight: 800;
}

body {
  background-color: purple;
 }

.row{
  margin: 0px auto;
}

header{
  // float: left;
  height: 30%;
  margin: 0px auto;
  background-color: #AB47BC;
}

.nav{
  background-color: #8E24AA;
}

.nav button:first-child{
  margin-top: 15px;
}

.nav button{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}

.source{
  text-align: center;
}

.article{
  padding: 100em auto;
  margin: 50px 20px 15px 50px;
}

.article p{
  font-size: 150%;
  text-align: center;
  padding: 20px;
  margin: 10px auto;
}

#dropdown-menu{
  display: inline-block;
}

.responsive-image{
  max-height: 300px;
  max-width: 600px;
}

#drop-list{
  position: absolute;
  left: 65%;
  top: 25%;
  background: rgba(255,255,255,0.8);
}

#dropdown ul h3{
  font-size: 200%;
}

li{
  font-size: 100%;
  margin: 5px auto;
}

#dropdown ul ul li:hover{
    font-size: 20px;
    cursor: pointer;
}


#search{
  margin-top: 60px;
  margin-left: -100px;
}










